<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>G04Final_Mock_Project_Cinema.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>050F65671F19D5B60092230D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>050F657B1F19D5B60092230D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>050F65861F19D5B60092230D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
